* {
    font-family: 'Young Serif', serif;
}

body{
    /* background-image: file("https://www.pexels.com/photo/assorted-map-pieces-2859169/"); */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    }


footer{
    margin-top: auto;
}