* {
    font-family: 'Young Serif', serif;
}

p {
    font-family: 'DM Mono', monospace;
    font-weight: bolder;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


footer {
    margin-top: auto;
}

#welcome {
    background: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.2)) , url(./image/pexels-james-wheeler-417074.jpg) no-repeat center center scroll;
    margin-top: 0;
    background-color: black;
    background-size: cover;
}

#howTo{
    color: white;
    margin: 0;
    padding: 5%;
}